/* Mobile-first styles */

@font-face {
    font-family: 'Revx Neue';
    src: url('../fonts/RevxNeueDemo-SemiBold.woff2') format('woff2'), url('../fonts/RevxNeueDemo-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size:14px;
}


body {
    font-family: 'Revx Neue', Arial, sans-serif;
    margin: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0715;
}

.gradient-text {
    background: linear-gradient(90deg, #8952f7, #ffffff); /* Define your gradient */
    -webkit-background-clip: text; /* Clips background to the text */
    -webkit-text-fill-color: transparent; /* Makes text itself transparent */
}

div {
    color: ghostwhite;
    opacity: 85%;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.preloader-1 {
    white-space: nowrap;
    transition: opacity 500ms ease-out;
    color: ghostwhite;
}

    .preloader-1 .line {
        width: 2.5px;
        height: 250px;
        letter-spacing: 2.5px;
        background: #8952f7;
        margin: 0 3px;
        display: inline-block;
        animation: opacity-1 500ms infinite ease-in-out;
    }

    /* Preloader animation delays */
    .preloader-1 .line-1 {
        animation-delay: 1050ms;
    }

    .preloader-1 .line-2 {
        animation-delay: 900ms;
    }

    .preloader-1 .line-3 {
        animation-delay: 750ms;
    }

    .preloader-1 .line-4 {
        animation-delay: 600ms;
    }

    .preloader-1 .line-5 {
        animation-delay: 450ms;
    }

    .preloader-1 .line-6 {
        animation-delay: 300ms;
    }

    .preloader-1 .line-7 {
        animation-delay: 150ms;
    }

    .preloader-1 .line-8 {
        animation-delay: 0ms;
    }

    .preloader-1 .line-9 {
        animation-delay: 150ms;
    }

    .preloader-1 .line-10 {
        animation-delay: 300ms;
    }

    .preloader-1 .line-11 {
        animation-delay: 450ms;
    }

    .preloader-1 .line-12 {
        animation-delay: 600ms;
    }

    .preloader-1 .line-13 {
        animation-delay: 750ms;
    }

    .preloader-1 .line-14 {
        animation-delay: 900ms;
    }

    .preloader-1 .line-15 {
        animation-delay: 1050ms;
    }

@keyframes opacity-1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity-2 {
    0% {
        opacity: 1;
        height: 15px;
    }

    50% {
        opacity: 0;
        height: 12px;
    }

    100% {
        opacity: 1;
        height: 15px;
    }
}

#content {
    display: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    text-align: center;
    color: #1b082d;
}

    #content h1 {
        font-size: 1.5em;
    }

    #content h2 {
        font-size: 1em;
    }

    #content p {
        font-size: 0.75em;
    }

/* Mobile-first card layout */

.card1 {
    width: auto;
    height: auto;
    max-height: 750px;
}
.card2 {
    width: auto;
    height: auto;
    max-height: 750px;
}
.card3 {
    width: auto;
    height: auto;
    max-height: 750px;
}
.card4 {
    width: auto;
    height: auto;
    max-height: 2000px;
}

.card5 {
    width: auto;
    height: 100%;
    max-height: 2000px;
}

.card1, .card2, .card3, .card4, .card5 {
    margin-bottom: 30px;
    background-color: #140c1c;
    padding: 20px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #2a1454;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headshot-img {
    width: 300px; 
    height: 300px; 
    border-radius: 5%; 
    border: 4px solid #2a1454; 
    margin-bottom: 10px;
}

/* Larger screens (desktops and up) */
@media (min-width: 1024px) {

    .preloader-1 .line {
        width: 25px;
        height: 500px;
        background: #8952f7;
        margin: 0 3px;
        display: inline-block;
        animation: opacity-1 500ms infinite ease-in-out;
    }

    /* Preloader animation delays */
    .preloader-1 .line-1 {
        animation-delay: 1050ms;
    }

    .preloader-1 .line-2 {
        animation-delay: 900ms;
    }

    .preloader-1 .line-3 {
        animation-delay: 750ms;
    }

    .preloader-1 .line-4 {
        animation-delay: 600ms;
    }

    .preloader-1 .line-5 {
        animation-delay: 450ms;
    }

    .preloader-1 .line-6 {
        animation-delay: 300ms;
    }

    .preloader-1 .line-7 {
        animation-delay: 150ms;
    }

    .preloader-1 .line-8 {
        animation-delay: 0ms;
    }

    .preloader-1 .line-9 {
        animation-delay: 150ms;
    }

    .preloader-1 .line-10 {
        animation-delay: 300ms;
    }

    .preloader-1 .line-11 {
        animation-delay: 450ms;
    }

    .preloader-1 .line-12 {
        animation-delay: 600ms;
    }

    .preloader-1 .line-13 {
        animation-delay: 750ms;
    }

    .preloader-1 .line-14 {
        animation-delay: 900ms;
    }

    .preloader-1 .line-15 {
        animation-delay: 1050ms;
    }

    @keyframes opacity-1 {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes opacity-2 {
        0% {
            opacity: 1;
            height: 15px;
        }

        50% {
            opacity: 0;
            height: 12px;
        }

        100% {
            opacity: 1;
            height: 15px;
        }
    }

    .headshot-img {
        width: 350px; /* Adjusts image size */
        height: 350px; /* Ensures a perfect circle */
        border-radius: 5%; /* Makes the image circular */
        object-fit: cover; /* Prevents distortion */
        border: 4px solid #2a1454; /* Optional border for the image */
        justify-content: flex-start;
    }

    #content h1 {
        font-size: 3.5em;
    }

    #content h2 {
        margin-top: 10px;
        font-size: 2em;
        color: darkgray;
    }

    #content p {
        color: darkgray;
        font-size: 1.3em;
    }

    .card1, .card2, .card3, .card4, .card5 {
        width: 100%;
        background-color: #140c1c;
        padding: 20px;
        border-radius: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: #2a1454;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-container-1 {
        display: flex;
        flex-direction: column;
        max-width: 1719px;
        width: 100%;
    }

    .card1 {
        flex-direction: row; /* Places image and text side-by-side */
        display: flex; /* Enables horizontal layout */
        align-items: center;
        justify-content: flex-start;
        height: auto;
        max-height: 400px;
        width: 100%;
        max-width: 1719px;
        gap: 70px;
    }

    .card1-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        max-width: 700px;
        width: 100%;
    }

    .card1-title {
        font-size: 1.8em;
    }

    .card1-subtext {
        font-size: 1.2em;
    }

    .card2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        max-width: 1719px;
        height: auto;
        max-height: 221px;
    }

    .card-container-2 {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
    }

    .card4-container- {
        flex: 0 0 auto;
        max-width: 741px;
    }

    .card3-container {
        display: flex;
        flex-direction: column; /* Ensures vertical stacking */
        flex: 0 0 auto;
        max-width: 741px;
        width: 100%;
    }

    .card3 {
        width: 741px;
        height: auto;
        max-height: 500px;
        margin-right: 15px;
    }

    .card4 {
        width: 519px;
        height: auto;
        max-height: 2000px;
    }

    .card5 {
        width: 100%; /* Makes it responsive */
        max-width: 741px; /* Keeps max size for larger screens */
        height: 830px; /* Allows content to expand naturally */
        display: block; /* Ensures it’s visible */
    }

}