<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Showcase_Profielpagina</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profielpagina.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/gdpr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Showcase_Profielpagina.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Preloader -->
    <div class="preloader-1" id="loader">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
        <span class="line line-4"></span>
        <span class="line line-5"></span>
        <span class="line line-6"></span>
        <span class="line line-7"></span>
        <span class="line line-8"></span>
        <span class="line line-9"></span>
        <span class="line line-10"></span>
        <span class="line line-11"></span>
        <span class="line line-12"></span>
        <span class="line line-13"></span>
        <span class="line line-14"></span>
        <span class="line line-15"></span>
    </div>

    <!-- Content -->
    <main id="content">
        <!-- Card Section 1 -->
        <section class="card-container-1">
            <article class="card1">
                <img src="images/IMG_4615.jpeg" alt="headshot" class="headshot-img">
                <div class="card1-content">
                    <h1 class="card1-title gradient-text">Hi, I am Alper - I Am a Software Engineer</h1>
                    <h2 class="card1-subtext">I bring your ideas to life!</h2>
                </div>
            </article>
            <article class="card2">
                <div class="icon-container">
                    <img src="images/briefcase.svg" alt="briefcase icon" width="111" height="111">
                    <p class="icon-text">10+ Years Work Experience</p>
                </div>

                <div class="icon-container">
                    <img src="images/group.svg" alt="group icon" width="110" height="110">
                    <p class="icon-text">100+ Collaborations</p>
                </div>

                <div class="icon-container">
                    <img src="images/handshake.svg" alt="handshake icon" width="110" height="110">
                    <p class="icon-text">3 successful Projects</p>
                </div>

                <div class="icon-container">
                    <img src="images/bug.svg" alt="bug icon" width="110" height="110">
                    <p class="icon-text">0 BUGS IGNORED</p>
                </div>
            </article>

        </section>

        <!-- Card Section 2 -->
        <section class="card-container-2">

            <!-- Card 3 Container -->
            <div class="card3-container-">
                <article class="card3">
                    <h2 class="card1-title gradient-text">Achievements in my professional life.</h2>
                    <p>
                        Hard work and perseverance have defined my journey. From a young age, I took on responsibilities beyond my years, learning discipline, leadership, and adaptability in every role I pursued.
                        No challenge has ever stopped me—I’ve worked my way up through both education and career, proving that growth comes from persistence and a willingness to learn.
                        Now, as I dive into Software Engineering, I bring with me the same dedication, problem-solving mindset, and drive to keep pushing forward, no matter the obstacles.
                    </p>
                </article>
            </div>

            <!-- Card 4 Container -->
            <div class="card4-container-">
                <article class="card4">
                    <div class="skills-container">
                        <h2 class="card1-title gradient-text">Skills & Strengths</h2>

                        <div class="skill">
                            <img src="images/coding(1).png" alt="Coding Icon" width="200" height="140">
                            <p>Coding & Software</p>
                        </div>

                        <div class="skill">
                            <img src="images/problem-solver-solution-problem-solving-skill(1).png" alt="Problem-Solving Icon" width="225" height="150">
                            <p>Problem-Solving</p>
                        </div>

                        <div class="skill">
                            <img src="images/adapt.svg" alt="Adaptability Icon" width="200" height="200">
                            <p>Adaptability & Growth</p>
                        </div>

                        <div class="skill">
                            <img src="images/artist-tools(1).svg" alt="Creativity Icon" width="200" height="200">
                            <p>Creativity & Design</p>
                        </div>

                        <div class="skill">
                            <img src="images/persistant.png" alt="Determination Icon" width="225" height="250">
                            <p>Determination</p>
                        </div>
                    </div>
                </article>
            </div>

        </section>

    </main>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/gdpr.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
